*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   color:white;
}
:root{
   font-size: 16px;
}
body{

 background-image: url('https://cdn.pixabay.com/photo/2017/09/03/06/12/abstract-2709402_960_720.png');
 
 background-size: cover;  
 min-height: 100vh;
   display: flex;
   justify-content: center;
   
}

#root{
   width: 100%;
}